doctype html
html
    head
        title=title
        link(href='style.css', rel='stylesheet')
        script(src='https://cdn.jsdelivr.net/npm/p5@1.1.9/lib/p5.js')
        block import    
    body
        block content
        main(class='container')
            div(id='code')
        //- script(src='./src/editor.js')
            //- require('./src/editor');